:root{
	--color-1: rgba(199, 196, 16, 0.242);
    --color-2: white;
    --color-3: transparent;
    --color-4: #052f28;
    --color-5: #9c9c9c /*#8a8a8a (gray color)*/;
    --color-6: whitesmoke;
    --color-7: #5c5b5b;
    --color-8: #f5f5f5;
    --color-9: #ffff00;
    --color-10: linear-gradient(to bottom right, #ffc107, #ff6070e0);
}

/* Original Color*/
/* :root{
	--color-1: rgba(199, 196, 16, 0.242);
	--color-2: white;
	--color-3: transparent;
	--color-4: #052f28;
	--color-5: #9c9c9c *#8a8a8a (gray color)*;
	--color-6: whitesmoke;
	--color-7: #5c5b5b;
	--color-8: #f5f5f5;
	--color-9: #ffff00;
	--color-10: #eec41e;
} */